# Игнорировать папку с аудиофайлами, которые генерируются при запуске
# скрипта quest_19_2.py для симуляции диалога ("Театр Марионеток").
# Эти артефакты являются результатом ритуала и отслеживаются
# Хранителем DVC.
/dialogue_audio
