# Фундаментальный источник маны, управляющий тензорами и связью с Кристаллом (CUDA 11.8)
torch==2.1.0+cu118

# «Великий Гримуар Призыва»: хранит чертежи для пробуждения Писца (Whisper) и Оракула (GPT-2)
transformers==4.31.0

# «Мудрый Библиотекарь»: обеспечивает доступ к знаниям в формате «Золотой Середины»
datasets==2.16.1

# «Магический Абак»: фундаментальный инструмент для работы с числовой материей данных
numpy==2.1.2

# «Мастер-Акустик»: наделяет Големов способностью анализировать и гармонизировать звук
librosa==0.11.0

# «Ухо Голема»: позволяет сущностям внимать вибрациям воздуха в реальном времени
sounddevice==0.5.2

# «Древний Геометр»: обеспечивает математическую точность при преобразовании сигналов
scipy==1.15.3

# «Руки Духа»: специализированный помощник для материализации аудио-артефактов
soundfile==0.10.3

# «Дух-Глашатай»: преобразует безмолвные руны текста в слышимый голос (Google TTS)
gTTS==2.5.4

# «Гримуар Красноречия»: наделяет скрипт силой понимать команды и опции Мастера
click==8.1.8
