# Игнорировать папку `mlruns`, которая является "Лабораторным Журналом"
# гримуара MLflow. Она автоматически создается и заполняется при запуске
# ритуала Наставления в `quest_16_2.py`. Эта папка является результатом
# ритуала и отслеживается Хранителем DVC.
/mlruns
