# Центральный артефакт — Великий Хронограф, фиксирующий каждое озарение в ходе наставления Голема
mlflow==3.5.0

# Фундаментальный источник маны, оживляющий тензоры и модель MiniCNN на Кристалле GPU (CUDA 11.8)
torch==2.8.0

# «Око Духа»: призывает учебные свитки MNIST и накладывает линзы трансформации на образы
torchvision==0.16.0+cu118

# Магический Абак: обеспечивает безупречную точность числовых превращений в недрах расчетов
numpy==2.1.2

# Хранитель Базы Данных, структурирующий память Хронографа для вечного хранения метрик
SQLAlchemy==2.0.42

# Дух-Следопыт, связывающий каждый запуск ритуала с конкретным мигом в Летописи Git
gitpython==3.1.45
