# «Магический Абак»: обеспечивает безупречную точность числовых превращений при подготовке данных
numpy==2.1.2

# «Переводчик на Латынь»: гримуар, позволяющий запечатать разум Голема в универсальный, отчуждаемый формат
onnx==1.13.0

# «Универсальный Чтец Свитков»: могущественная сила, способная пробуждать разум Голема даже за пределами родной кузницы
onnxruntime==1.13.1
