# Фундаментальный источник маны: оживляет тензоры и дарует силу для работы с магическими аурами (эмбеддингами) в GPU
torch==2.1.0+cu118

# «Хранитель Летописи Предпочтений»: мастер таблиц, упорядочивающий хаос вкусов и оценок искателей для обучения Голема
pandas==2.1.4

# «Магический Абак»: великий калькулятор, обеспечивающий точность числовых превращений в недрах аур
numpy==1.26.4

# «Древний Геометр»: призывает духа, умеющего измерять «расстояния» между душами в многомерном пространстве
scipy==1.15.3
