# Эта строка призывает могущественный гримуар 'FastAPI'. Именно он дает нам
# силу сотворять "магические порталы" (веб-сервисы), открывать в них "врата"
# (эндпоинты) и принимать "послания" (запросы) от внешнего мира.
fastapi

# Эта строка призывает духа-гонца 'Uvicorn'. Если FastAPI создает чертеж портала,
# то Uvicorn - это тот, кто его "оживляет". Он стоит на страже врат,
# слушает внешний мир и передает все входящие послания нашему амулету.
uvicorn

# Эта строка призывает гримуар 'redis'. Он содержит заклинания, необходимые
# нашему амулету для общения с "Великим Хранителем Памяти" (сервером Redis).
# Без этого гримуара наш амулет был бы "нем" и не смог бы просить Хранителя
# что-либо запомнить или вспомнить.
redis
