# Фундаментальный источник маны, оживляющий тензоры на Кристалле GPU (CUDA 11.8)
torch==2.1.0+cu118

# Магический Калькулятор, позволяющий Мастеру превращать абстрактный фокус внимания в числовые матрицы
numpy==1.26.4

# Магический Художник, необходимый для визуализации «эмпатического поля» слов в форме тепловой карты
matplotlib==3.8.4
