# Игнорировать папку с "трофеями" (кадрами с результатами детекции),
# которые генерируются при запуске скрипта quest_18_1.py. Эта папка
# является результатом ритуала и отслеживается Хранителем DVC.
/hunt_results
