# «Отражение Истины»: главный артефакт для сотворения визуального интерфейса,
# позволяющего любому узреть магию в действии
gradio==4.44.0

# «Магический Портал»: фундаментальный архитектор связей,
# на котором строится логика взаимодействия с внешним миром
fastapi==0.115.0

# «Страж Потоков»: гонец, оживляющий портал и обеспечивающий
# стабильный проход сообщений к Голему
uvicorn==0.30.6

# «Великий Гримуар Призыва»: содержит чертежи и истинные имена Големов,
# которых мы помещаем за Магическое Зеркало
transformers==4.31.0

# «Первородная Мана»: базовая энергия тензоров, питающая разум
# каждого Голема и обеспечивающая связь с Кристаллом GPU
torch==2.1.0+cu118
