# Это заголовок секции, который объявляет, что все последующие правила 
# предназначены именно для Магического Стража (инструмента flake8). 
# Когда Страж читает этот файл, он ищет свое имя в квадратных скобках, 
# чтобы понять, какие указы адресованы ему.
[flake8]

# Указ о Ширине Пергамента. Здесь мы устанавливаем максимальную длину строки 
# в 88 символов. Древний канон (PEP 8) предписывает 79 символов, 
# но на наших современных кристаллических планшетах (широких мониторах) 
# это ограничение часто мешает, заставляя некрасиво разрывать длинные заклинания. 
# Мы даруем себе больше свободы.
max-line-length = 79

# Особая Диспенсация (исключение из правил). Мы приказываем Стражу игнорировать 
# ошибку с кодом E203. Эта ошибка — "пробел перед двоеточием" — часто возникает 
# при форматировании срезов (`my_list[1 : 2]`). Наш могущественный союзник, 
# "Автоматический Каллиграф" (форматтер `black`), считает такое написание более читаемым 
# и сам расставляет пробелы. Чтобы Страж не вступал в конфликт с Каллиграфом, 
# мы даем ему прямое указание не обращать на это внимания.
extend-ignore = E203