# Игнорировать служебные папки Python
__pycache__/
*.pyc

# Игнорировать папки инструментов
.vscode/
.idea/

# Игнорировать папки от ритуалов ковки и сборки
build/
dist/
*.egg-info/

# Игнорировать папки с данными и артефактами
data/
results/
mlruns/
*.pth
*.safetensors
*.onnx
*.pt
*.mp4
*.mp3
*.wav
*.gif
*.png
*.jpg
*.txt

# Игнорировать папки виртуальных окружений
.env
venv
env
.dvc/gdrive-creds.json
