# --- Системные файлы и Кэш Python ---
# Кэш скомпилированных файлов Python. Создается везде.
__pycache__/
*.pyc

# === Хранилище DVC ===
.dvc/cache/
.dvc/tmp/

# === Артефакты Node.js ===
/node_modules/
