# Фундаментальный Источник Маны: базовая энергия, оживляющая разум Оракула (LSTM)
# и позволяющая тензорам течь сквозь время на Кристалле GPU
torch==2.1.0+cu118

# «Дух-Нормализатор»: призывает помощников для подготовки данных,
# сжимая хаотичные числа летописи в границы, понятные Голему
scikit-learn==1.5.2

# «Хранитель Летописей»: мастер табличных данных, обеспечивающий
# чтение и разделение истории на учебную и экзаменационную части
pandas==2.1.4

# «Магический Абак»: Великий Калькулятор, обеспечивающий безупречную
# точность числовых превращений в недрах памяти Оракула
numpy==1.26.4

# «Магический Художник»: позволяет Техноманту узреть озарения Оракула,
# перенося предсказания будущего на холст визуального отчета
matplotlib==3.8.3
