# Игнорировать папку с артефактами, которые генерируются при запуске
# ритуала Наставления в скрипте quest_7_2.py (Ритуал "Стилевой Печати").
# Эта папка содержит обученный LoRA-адаптер и отслеживается
# Хранителем DVC.
/artist_seal
