# «Великий Хранитель Артефактов»: могущественный дух, способный нести ношу,
# непосильную для Летописца Git — многогигабайтные датасеты и веса Големов.
dvc==3.62.0

# «Мастер Магических Путей»: связующая сущность, которая обучает Хранителя
# понимать языки различных облачных миров и файловых систем.
fsspec==2025.7.0

# «Ключ от Облачных Врат»: специализированное расширение, позволяющее
# Хранителю дотягиваться до сокровищ в хранилищах Google.
dvc-gs==3.0.2
