# Игнорировать артефакт-изображение, который генерируется при запуске
# скрипта quest_2_3.py. Этот файл является результатом ритуала визуализации,
# а не его частью, и отслеживается Хранителем DVC.
/spectrogram.png
