# Фундаментальный источник маны, управляющий потоками данных и тензорами на архитектуре Ampere
torch==2.1.0+cu118

# «Магические Линзы»: даруют силу трансформации (transforms) для подготовки образов перед подачей Голему
torchvision==0.16.0+cu118

# «Магический Калькулятор»: обеспечивает точность числовых превращений в недрах Хранителя Свитков
numpy==2.1.2

# «Дух-Художник»: необходим для материализации и открытия материальных тел артефактов (.png)
Pillow==11.0.0

# «Хронометр Прогресса»: позволяет Техноманту видеть течение времени при обходе архивов
tqdm==4.66.1
