# Игнорировать артефакт-модель, который генерируется при запуске
# ритуала Наставления в скрипте quest_6_2.py. Этот файл хранит "разум"
# обученного Голема-Классификатора и отслеживается Хранителем DVC.
/voice_classifier_knowledge.pth
