# Эта строка призывает гримуар 'fastapi' вместе со всеми его "духами-помощниками".
# `[all]` — это особое заклинание, которое говорит: "Призови не только основной дух FastAPI,
# но и uvicorn (гонца, который будет носить послания), pydantic (стража, проверяющего
# чистоту посланий) и всех прочих, рекомендованных для полной магической силы".
fastapi[all]

# Эта строка призывает великую библиотеку 'transformers'.
# Она содержит чертежи для сотворения могущественных Големов и Духов,
# таких как наш 'Дух Эмоций' или 'Ухо Всеслышания'.
transformers==4.31.0

# Эта строка призывает гримуар 'soundfile'.
# Это специализированный помощник, который умеет читать и записывать аудио-послания
# в различных форматах (например, .wav, .flac). Он необходим для многих
# аудио-заклинаний, так как является их "руками" для работы с файлами.
soundfile
