# Силовой Гримуар: Фундаментальный источник маны для воплощения тел Учителя и Ученика (CUDA 11.8)
torch==2.1.0+cu118

# Магический Абак: Обеспечивает безупречную точность при расчете «мягких» эссенций (soft labels)
numpy==2.1.2

# Мудрый Библиотекарь: Хранитель учебных свитков в стабильной форме «Золотой Середины»
datasets==2.16.1

# Дух-Проводник: Позволяет распределять потоки энергии, предотвращая истощение Кристалла Маны
accelerate==0.33.0
