# Игнорировать папку `data`, которая автоматически создается и заполняется
# "учебником" (датасетом MNIST) при первом запуске скрипта. Эта папка
# является "тяжелым" артефактом и отслеживается Хранителем DVC.
/data

# Игнорировать папку с артефактами-изображениями, которые генерируются
# при запуске скрипта quest_12_2.py (Ритуал "Создания Туманного Образа").
# Эта папка является результатом ритуала творения и отслеживается
# Хранителем DVC.
/chaos_sculptures
