# Фундаментальный источник маны, обеспечивающий жизнь тензоров и управление вероятностными потоками на архитектуре Ampere
torch==2.1.0+cu118

# «Око Духа»: дарует магические линзы для преображения образов и призыва учебных свитков MNIST
torchvision==0.16.0+cu118

# «Магический Калькулятор»: обеспечивает безупречную точность числовых манипуляций в пространстве хаоса
numpy==2.1.2

# «Хронометр Прогресса»: позволяет Техноманту видеть течение времени в долгом ритуале очищения шума
tqdm==4.66.1

# «Дух-Художник»: необходим для финальной материализации «Скульптур Хаоса» в осязаемую форму PNG
Pillow==11.0.0

# «Хранитель Тяжелых Артефактов»: оберегает плоть сотворенных «туманных образов» в тайном святилище DVC
dvc==3.62.0
