# Игнорировать папку с результатами подсчета объектов, которые генерируются
# при запуске скрипта quest_18_2.py. Эта папка является результатом ритуала
# и отслеживается Хранителем DVC.
/counting_results
