# Фундаментальный источник маны, оживляющий разум Химеры и управляющий тензорами (CUDA 11.8)
torch==2.1.0+cu118

# «Око Духа»: дарует Химере способность различать визуальные формы и образы в видеопотоке
torchvision==0.16.0+cu118

# «Набор Кинематографиста»: обеспечивает власть над видео-материей и позволяет помечать найденные цели
opencv-python==4.8.1.78

# «Древнее Знание Химер»: основной гримуар, содержащий чертежи семейства YOLO для мгновенной детекции
yolov5==7.0.14

# «Хронометр Прогресса»: позволяет Техноманту видеть скорость обработки и ритм «Вечной Охоты»
tqdm==4.66.1
