# Игнорировать "летопись времени" (CSV-файл), которая генерируется при запуске
# скрипта quest_20_1.py. Этот артефакт является "учебником" и отслеживается
# Хранителем DVC.
/time_series_data.csv

# Игнорировать визуализацию "летописи времени", которая также генерируется
# при запуске скрипта. Этот артефакт является результатом и отслеживается
# Хранителем DVC.
/time_series_plot.png
