# «Магический Абак»: Великий Калькулятор, мастер работы с числовыми массивами для сотворения потоков данных
numpy==1.26.4

# «Хранитель Летописей»: инструмент для организации данных в магические таблицы и их сохранения в вечные архивы
pandas==2.1.4

# «Магический Художник»: позволяет Техноманту визуализировать невидимые ритмы времени на холсте графиков
matplotlib==3.8.3
