# Игнорировать папку `build`, которая является "временной кузницей" для
# ритуала "Великой Ковки" (PyInstaller). Она автоматически создается
# при запуске скрипта quest_24_2.py и отслеживается Хранителем DVC.
/build

# Игнорировать папку `dist`, которая содержит финальный, "самодостаточный
# артефакт" (исполняемый файл). Она также создается автоматически
# и отслеживается Хранителем DVC.
/dist
