# «Великий Дух-Кузнец»: сущность, способная сплавить воедино руны кода,
# все его зависимости и само дыхание интерпретатора в монолитный кристалл
pyinstaller==6.10.0

# «Первородная Мана»: фундаментальная энергия, чья огромная плоть запечатывается
# внутри артефакта, чтобы даровать ему силу вдали от родной мастерской
torch==2.8.0
