# Твоя якорная версия: Великий Гримуар Призыва, дарующий заклинание 'pipeline'
transformers==4.31.0

# Фундаментальный источник маны, обеспечивающий жизнь тензоров на Кристалле GPU
torch==2.1.0+cu118

# Свитки Древних Знаний: "Золотая Середина", позволяющая черпать данные потоком
datasets==2.16.1

# Магический Камертон для расшифровки звуковых вибраций внутри кристаллов
librosa==0.10.1

# Аудио-Резонатор, вскрывающий материальную оболочку аудиофайлов
soundfile==0.13.1

# Дух-Ускоритель, распределяющий ману между Кристаллом и Разумом
accelerate==1.9.0
