# Игнорировать видео-артефакт, который генерируется подготовительным
# скриптом create_video.py. Этот файл отслеживается Хранителем DVC.
/test_video.mp4

# Игнорировать папку с кадрами, которые извлекаются из видео при запуске
# основного скрипта quest_4_1.py. Эти артефакты являются результатом
# ритуала деконструкции и отслеживаются Хранителем DVC.
/frames/

# Игнорировать "Магического Кота" — артефакт-изображение, который является
# "тяжелым" артефактом и отслеживается Хранителем DVC.
/magical_cat.png
