# «Набор Кинематографиста»: дарует силу созидания и деконструкции кинопленки
opencv-python==4.12.0.88

# «Хранитель Тяжелых Артефактов»: запечатывает плоть видеофайлов и кадров в тайном святилище
dvc==3.62.0

# «Магический Калькулятор»: обеспечивает точность вычислений в каждом пикселе образа
numpy==2.1.2
