# Этот могущественный гримуар дает нам силу сотворять «магические порталы» (API),
# открывать в них врата и принимать послания от внешнего мира.
fastapi==0.116.1

# Дух-гонец, который «оживляет» портал. Он стоит на страже врат, слушает
# внешний мир и передает входящие послания нашему амулету.
uvicorn==0.35.0

# Великий гримуар призыва, содержащий чертежи для сотворения разумных
# Големов и Духов. Это источник нашей разумной магии.
transformers==4.53.2

# Фундаментальный Источник Маны, на котором держится вся техномагия.
# Он управляет потоками энергии (тензорами) и вычислениями на Кристалле.
# Версия cu118 необходима для резонанса с архитектурой Ampere.
torch==2.7.1+cu118

# Особый дух-помощник, создающий «магические глаза» и «уши» для амулета.
# Он позволяет Стражу-Летописцу видеть всё, что происходит внутри портала.
prometheus-fastapi-instrumentator==7.1.0

# Набор рунных инструментов для создания собственных магических измерителей.
# С его помощью мы создаем «Тревожный Колокол» для мониторинга точности.
prometheus_client==0.22.1
