# «Великий Архитектор Порталов»: фундаментальный гримуар для сотворения
# магических врат (API), через которые мир общается с Големом
fastapi==0.116.1

# «Страж Открытых Врат»: могущественный голем-гонец, который оживляет
# чертеж портала и обеспечивает передачу посланий в Облачной Цитадели
uvicorn==0.35.0

# «Великий Гримуар Призыва»: хранит в себе чертежи разумных сущностей
# и «Духа Эмоций», которого мы запечатываем внутри артефакта
transformers==4.53.0

# «Первородная Мана»: базовая энергия, необходимая для жизни Големов.
# Версия очищена от меток CUDA для совместимости с законами Облачного Мира
torch==2.8.0
