# Фундаментальный источник маны, обеспечивающий жизнь тензоров на архитектуре Ampere
torch==2.1.0+cu118

# «Око Духа»: дарует чертежи для призыва архива MNIST и магические линзы для подготовки образов
torchvision==0.16.0+cu118

# «Магический Калькулятор»: обеспечивает точность расчетов в скрытом «пространстве снов»
numpy==2.1.2

# «Хронометр Прогресса»: позволяет Техноманту видеть течение времени в долгом ритуале Наставления
tqdm==4.66.1

# Дух-Художник: необходим для материализации сотворенных сновидений в форму PNG
Pillow==11.0.0

# Хранитель Тяжелых Артефактов: запечатывает плоть «снов» и «учебников» в тайном святилище
dvc==3.62.0
