# Игнорировать папку с "прореженными" кадрами, которые извлекаются
# при запуске скрипта quest_8_1.py (Техника "Прореживания Кадров").
# Эти артефакты являются результатом ритуала и отслеживаются
# Хранителем DVC.
/sampled_frames

# Игнорировать "Тестовое Видео" — артефакт-видео, который является
# "тяжелым" артефактом и отслеживается Хранителем DVC.
/test_video.mp4
