# Эта единственная, но могущественная руна призывает гримуар 'Locust'.
# Это — магия "Роя Саранчи", позволяющая нам сотворить иллюзорный легион
# пользователей, которые будут осаждать наш "Говорящий Амулет", проверяя его
# на прочность и выносливость под нагрузкой. Это — ключ к ритуалу
# "Проверки на Прочность".
locust
