# Великий Гримуар Призыва. Это сердце нашего ритуала, дарующее
# заклинание 'pipeline' для вызова разумных 'духов' (AI-моделей).
transformers==4.57.5

# Фундаментальный Источник Маны, на котором держится вся техномагия.
# Он управляет потоками энергии (тензорами) и вычислениями на Кристалле.
# Версия +cu118 необходима для резонанса с Кристаллом Маны (RTX 3050 Ti).
torch==2.9.1

# Могущественный гримуар 'Красноречия и Повелевания'. Он дает нам силу
# превращать простые скрипты в профессиональные артефакты, которые
# понимают команды, опции и могут красиво общаться с Мастером.
click==8.1.8
