# Игнорировать папку `data`, которая автоматически создается и заполняется
# "учебником" (датасетом MNIST) при первом запуске скрипта quest_10_3.py.
# Эта папка является "тяжелым" артефактом и отслеживается Хранителем DVC.
/data
