# Фундаментальный источник маны, оживляющий тензоры на Кристалле GPU (CUDA 11.8)
torch==2.1.0+cu118

# «Око Духа»: дарует доступ к великому архиву MNIST и линзы для подготовки данных
torchvision==0.16.0+cu118

# «Хронометр Прогресса»: позволяет Техноманту видеть течение времени в ритуале наставления
tqdm==4.66.1

# «Хранитель Тяжелых Артефактов»: оберегает плоть «учебных свитков» в тайном святилище
dvc==3.62.0
