# Фундаментальный источник маны, оживляющий тензоры и позволяющий ковать слои нейронов (CUDA 11.8)
torch==2.1.0+cu118

# «Магический Абак»: обеспечивает безупречную точность числовых манипуляций и сверку форм материи
numpy==2.1.2
