# «Набор Кинематографиста»: дарует силу видеть сквозь время, сравнивая образы и вычитая лишнее
opencv-python==4.12.0.88

# «Магический Калькулятор»: обеспечивает точность вычислений в каждом пикселе для создания карты признаков
numpy==2.1.2

# «Хранитель Тяжелых Артефактов»: запечатывает материальную плоть «карты движения» в тайном святилище
dvc==3.62.0
