# Фундаментальный источник маны, оживляющий тензоры и дарующий нейронам способность к наследованию (CUDA 11.8)
torch==2.1.0+cu118

# Магический Калькулятор, позволяющий Мастеру поверять алгеброй гармонию нейронных связей
numpy==2.1.2
