# «Великий Хранитель Артефактов»: могущественный дух, способный нести ношу,
# непосильную для Летописца Git — тяжелые тела Големов (.pth файлы)
dvc==3.62.0

# «Первородная Мана»: фундаментальный источник энергии, необходимый
# для сотворения плоти модели, которую мы передаем под опеку Хранителя
torch==2.1.0+cu118

# «Ключ от Облачных Врат»: специализированное расширение, позволяющее
# Хранителю отправлять запечатанные артефакты в Облачную Цитадель Google
dvc-gs==3.0.2

# «Мастер Магических Путей»: связующая сущность, обучающая Хранителя
# понимать языки различных облачных систем и файловых хранилищ
fsspec==2025.7.0
