# Твоя якорная версия: Великий Гримуар Призыва, дарующий заклинание 'pipeline'
transformers==4.31.0

# Фундаментальный источник маны, обеспечивающий жизнь тензоров на Кристалле GPU
torch==2.1.0+cu118

# Магический Окуляр, дарующий Голему способность зрить и понимать образы
torchvision==0.16.0+cu118
