# Эта строка призывает могущественный гримуар 'FastAPI'. Именно он дает нам
# силу сотворять "магические порталы" (веб-сервисы), открывать в них "врата"
# (эндпоинты) и принимать "послания" (запросы) от внешнего мира.
fastapi

# Эта строка призывает духа-гонца 'Uvicorn'. Если FastAPI создает чертеж портала,
# то Uvicorn - это тот, кто его "оживляет". Он стоит на страже врат,
# слушает внешний мир и передает все входящие послания нашему амулету.
uvicorn

# Эта строка призывает великую библиотеку 'transformers'. Она содержит чертежи
# для сотворения могущественных Големов и Духов, таких как наш 'Дух Эмоций'.
# Это источник нашей разумной магии.
transformers

# Эта строка призывает 'torch' — сам Источник Маны, фундаментальную силу,
# на которой держится вся наша техномагия. Без него 'transformers' не смогли бы
# оживить своих Големов. Он управляет потоками маны (тензорами) и вычислениями на Кристалле.
torch

# Эта строка призывает особого духа-помощника — 'Инструментатора'. Его единственное
# предназначение — встроиться в наш 'Амулет' (FastAPI) и наделить его 'самосознанием'.
# Он создает 'магические глаза' и 'уши', которые позволяют 'Стражу-Летописцу' (Prometheus)
# видеть и записывать всё, что происходит с Амулетом.
prometheus-fastapi-instrumentator
