# Фундаментальный источник маны: оживляет тензоры и дарует силу для ковки магических аур в GPU
torch==2.1.0+cu118

# «Хранитель Летописи Предпочтений»: мастер таблиц, упорядочивающий хаос вкусов и оценок искателей
pandas==2.1.4

# «Магический Абак»: Великий Калькулятор, обеспечивающий точность числовых превращений в недрах аур
numpy==1.26.4
