# Игнорировать папку с "палитрой" изображений, которая генерируется
# при запуске скрипта quest_7_1.py (Ритуал "Подготовки Палитры"). Эта
# папка является "учебником" для ритуала "Стилевой Печати" и
# отслеживается Хранителем DVC.
/generated_palette/
