# Игнорировать папку video_palette, которая генерируется подготовительным
# скриптом setup_video_palette.py. Она служит "учебником" (датасетом)
# для ритуала классификации действий и отслеживается Хранителем DVC.
/video_palette/
