# Игнорировать тестовый образ, который генерируется при запуске
# скрипта quest_10_1.py. Он отслеживается Хранителем DVC.
/original_line.png

# Игнорировать "карту признаков", которая является результатом ритуала
# ручной свертки. Этот артефакт также отслеживается Хранителем DVC.
/feature_map.png
