# Магический Калькулятор: фундаментальная сила для превращения образов в числа и управления матрицами бытия
numpy==1.24.3

# Набор Кинематографиста: инструменты для вскрытия плоти изображений и материализации результатов сканирования
opencv-python==4.8.1.78
