# Игнорировать папку `build`, которая является "временной кузницей" для сборки
# pip-пакета. Она автоматически создается при запуске ритуала `quest_24_1.py`.
# Эти артефакты отслеживаются Хранителем DVC.
/build/

# Игнорировать папку `dist`, которая является "сокровищницей" с финальным,
# "запечатанным" артефактом (`.whl`). Она также создается автоматически
# и отслеживается Хранителем DVC.
/dist/

# Игнорировать папку `.egg-info`, которая содержит метаданные о пакете.
# Она также создается автоматически в процессе сборки и отслеживается
# Хранителем DVC.
/arcane_wizardry.egg-info/
