# Игнорировать папку `mlruns`, которая является "Лабораторным Журналом"
# гримуара MLflow. Она автоматически создается и заполняется при запуске
# скрипта. Эта папка является результатом ритуала и отслеживается
# Хранителем DVC.
/mlruns/

# Игнорировать текстовый артефакт, который создается в ходе ритуала
# quest_16_1.py для демонстрации логирования. Этот файл отслеживается
# Хранителем DVC.
/spell.txt
