# Центральный артефакт — Великий Хронограф, ведущий записи о каждом магическом озарении
mlflow==3.5.0

# Дух-Посредник, создающий «Магическое Зеркало» (веб-интерфейс) для визуального созерцания хроник
Flask==3.1.1

# Неутомимый Гонец, обеспечивающий стабильную работу Зеркала под нагрузкой
gunicorn==23.0.0

# «Магический Абак»: обеспечивает безупречную точность числовых превращений в недрах Хронографа
numpy==2.1.2

# Хранители Базы Данных, отвечающие за надежное сохранение каждой руны в тайных архивах
SQLAlchemy==2.0.42
alembic==1.16.4

# Дух-Следопыт, связывающий каждый эксперимент с конкретным мгновением в Летописи Git
gitpython==3.1.45
