# --- Свиток Призыва Гримуаров (requirements.txt) ---

# Призыв гримуара "Архитектор Порталов". Эта руна дает нам силу создавать быстрые и эффективные веб-порталы (API).
fastapi

# Призыв гримуара "Страж Портала". Эта руна призывает могущественного духа, который будет поддерживать жизнь нашего портала, принимая и обрабатывая запросы из внешнего мира.
uvicorn

# Призыв гримуара "Хранитель Памяти". Эта руна дает нам заклинания для общения с внешней сущностью Redis, которая будет служить "памятью" для нашего артефакта.
redis
