# Фундаментальный источник маны, дарующий силы для трансмутации тензоров из float32 в int8 (CUDA 11.8)
torch==2.1.0+cu118

# «Око Духа»: призывает великий архив MNIST, необходимый для калибровки сжатого разума Голема
torchvision==0.16.0+cu118

# «Магический Калькулятор»: обеспечивает безупречную точность при расчете весов и квантовании
numpy==2.1.2

# «Хронометр Прогресса»: позволяет Техноманту видеть скорость обучения и процесс «Трансмутации»
tqdm==4.66.1
